.App {
  text-align: center;
  position: relative;
}

:root::before {
  height: 130vh;
  min-height: 120vh;
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    190deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(65, 151, 233, 0.5919410000328256) 46%,
    rgba(0, 212, 255, 1) 100%
  );
}
